.popup {
    width: 480px;
    height: 300px;
    padding: 20px;
    position: relative;
    background-color: #f0e3dd;
    animation: fadeIn .5s ease both;
    & .popup__close-btn {
        width: 25px;
        height: 25px;
        position: absolute;
        top: -30px;
        right: -27px;
        background-color: transparent;
        border: none;
        background-image: url('../../../img/close.svg');
        background-repeat: no-repeat;
        background-position: center center;
        &:hover {
            cursor: pointer;
            opacity: .5;
            transition: opacity 0.2s ease-in;
        }
    }
    & .popup__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 42px;
    }
    & .popup__title {
        font: {
            family: "Exo2", Lato, sans-serif;
            size: 39px;
            weight: 600;
        }
        color: #352729;
        text-align: center;
    }
    & .popup__text {
        color: #352729
    }
    & .popup__btn {
        width: 100%;
        background-color: transparent;
        border: solid 2px #352729;
        color: #352729;
        margin: 0 auto;
        padding: 9px 0 11px 0;
        font: {
            family: "Exo2", Lato, sans-serif;
            size: 1rem;
            weight: 400;
        }
        &:hover {
            cursor: pointer;
            opacity: .7;
            transition: opacity 0.2s ease-in;
        }
    }
    @media screen and (max-width: 559px) {
        width: 350px;
    }
    @media screen and (max-width: 424px) {
        width: 230px;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}