.header {
    padding: 16px 15px;
    & .header__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    & .header__logo-wrapper {
        display: flex;
        align-items: center;
        column-gap: 12px;
        width: 49px;
    }
    & .header__text-logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #f0e3dd;
    }
    & .header__large-text {
        font: {
            family: "SourceCodePro-Regular", PT Mono, monospace;
            size: 32px;
            weight: 600;
        }
    }
    & .header__small-text {
        font: {
            family: "SourceCodePro-Regular", PT Mono, monospace;
            size: 16px;
            weight: 400;
        }
    }
    & .header__burger-btn {
        position: relative;
        width: 30px;
        height: 22px;
        display: none;
        background-color: transparent;
        border: none;
        padding: 0;
        transition: all 0.3s ease-out;
        z-index: 3;
        & .header__btn-line {
            width: 100%;
            height: 2px;
            background-color: #ffffff;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
        }
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #ffffff;
        }
    }
    @media screen and (max-width: 1129px) {
        & .header__burger-btn {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}