$extra-body-color: #f2f2f0;



$milk: #dfd2b9;
$matcha: #aabb88;
$taiwanese-tea: #d3b387;
$black-tea: #a7735d;
$green-tea: #869273;
$thai-tea: #db8758;
$ginger: #f5ddaf;
$strawberry-syrup: #f49290;
$lime-syrup: #ddebc6;
$yuzu: rgba(252,204,82,1);
$lychee: rgba(239,174,160,1);
$melon: rgba(154,186,104,1);