@font-face {
    font-family: "Exo2";
    src: url("../fonts/Exo2-VariableFont_wght.ttf") format("truetype");
}
@font-face {
    font-family: "SourceCodePro-Regular";
    src: url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "SourceCodePro-Light";
    src: url("../fonts/SourceCodePro-Light.ttf") format("truetype");
}