@import 'fonts';
@import 'colors';
@import './components/cups';

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #352729;
    font: {
        family: "Exo2", Lato, sans-serif;
        size: 1rem;
        weight: 400;
    }
    color: rgba(255, 255, 255, 0.3);
}
h1, h2, h3, h4 {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p {
    margin: 0;
}
img {
    width: 100%;
    height: auto;
}
.container {
    padding: 0 15px;
}
.container, .header__container {
    width: 90%;
    margin: 0 auto;
}
.title {
    font: {
        size: 45px;
        weight: 400;
    }
    color: #f0e3dd;
}
.app__wrapper {
    position: relative;
}
.app__left-part {
    width: calc(100% - 20%);
}
.app__content {
    margin-bottom: 40px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
    & .content__functionality-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 10px rgba(0, 0, 0, 0.35);
        border-radius: 4px;
    }
}
.workspace {
    min-height: 500px;
    padding-left: 38px;
    position: relative;
    & .workspace__line-list {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: #ffffff;
    }
    & .workspace__line-item {
        padding: 3px 10px;
        text-align: center;
    }
}
.bounce-6 {
    animation-name: bounce-6;
    // animation-timing-function: linear;
}
@keyframes bounce-6 {
    0%   { transform: scale(1,1)      translateY(0); -webkit-animation-timing-function: linear }
    10%  { transform: scale(1.1,.9)   translateY(0); -webkit-animation-timing-function: linear }
    30%  { transform: scale(.9,1.1)   translateY(-100px); -webkit-animation-timing-function: ease-out }
    50%  { transform: scale(1.05,.95) translateY(0); -webkit-animation-timing-function: ease-in }
    57%  { transform: scale(1,1)      translateY(-7px); -webkit-animation-timing-function: linear }
    64%  { transform: scale(1,1)      translateY(0); -webkit-animation-timing-function: linear }
    100% { transform: scale(1,1)      translateY(0); -webkit-animation-timing-function: linear }
}
@keyframes backOutRight {
    0% {
      transform: translateX(0px) scale(1);
      opacity: 1;
    }
    80% {
      transform: translateX(-400px) scale(.7);
      opacity: 0.5;
    }
    100% {
      transform: scale(.5);
      opacity: 0;
    }
  }
  .backOutRight {
    animation: backOutRight 0.5s ease forwards;
  }

  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
.popup-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(88, 88, 88, 0.6);
    z-index: 1;
    &.popup-overlay--off {
        display: none;
    }
}
@media screen and (max-width: 1129px) {
    .container, .header__container {
        width: 100%;
    }
    .app__left-part {
        width: 100%;
    }
}
@media screen and (max-width: 739px) {
    .title {
        font: {
            size: 32px;
        }
    }
}
@media screen and (max-width: 649px) {
    .content {
        & .content__functionality-wrapper {
            flex-direction: column;
        }
    }
}